---
---

@import "{{ site.theme }}";


@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:300,300i,800,800i|Ultra');

body {
  font-family: "Barlow Condensed";
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
}


h1 {
  font-family: Ultra;
  font-size: 60px;
}

h2, {
  font-family: "Barlow Condensed";
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 0px;
}

h3 {
  font-family: "Barlow Condensed";
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 0px;
}

p { 
  font-family: "Barlow Condensed";
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  margin: 8px;
}

ul { 
  font-family: "Barlow Condensed";
  font-size: 20px;
  line-height: 2;
  margin-top: 0px;
}

.colorback {
  background-color: #F7EDC4;
  border-top: 3px solid grey;
  border-bottom: 2px solid grey;
  margin: 18px 0px 24px 0px
}

.contentparagraph {
  display: inline-block;
  width: 40%;
}
