---
---

@import "{{ site.theme }}";


@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:300,300i,800,800i|Ultra');

body {
  font-family: "Barlow Condensed";
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5;
}


h1 {
  font-family: Ultra;
  font-size: 60px;
}

h2, h3 {
  font-family: "Barlow Condensed";
  font-weight: 800;
}

p { 
  font-family: "Barlow Condensed";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
}

ul { 
  font-family: "Barlow Condensed";
  font-size: 14px;
  line-height: 1.4;
}

.colorback {
  background-color: #F7EDC4
}
